@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTg0NDczNS1zcGFydGFjdXM6MFA1SUd3eHdUMk4wR3RkUFFCN2hLSWdCRUllalN2YWM==
always-auth=true
 
@tua:registry=https://73555000100900006402.npmsrv.base.repositories.cloud.sap/
//73555000100900006402.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTg0NDczNS1zcGFydGFjdXM6MFA1SUd3eHdUMk4wR3RkUFFCN2hLSWdCRUllalN2YWM==
always-auth=true