.cx-verified {
  color: #c46900;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
}

.cx-success {
  color: var(--cx-color-primary);
  font-weight: bold;
  font-size: 14px;
}

.cx-total-votes {
  color: #6e6e6e;
}